html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@font-face {
    font-family: 'head-text';
    src: url(file://C:/Users/Dwane/Dr.WebHealth_SEO/fonts/GothamBold.ttf);
}
.head-text{
    font-family: "head-text";
}
.body-text{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.bg-dark {
    background-color: #5ed9c5!important;
}
.nav li:hover{
    box-shadow: inset 0px -4px 0 #FFFFFF;
    font-weight: bolder;
}
.active{
    box-shadow: inset 0px -4px 0 #FFFFFF;
    font-weight: bolder; 
}
ul{
    margin: none;
    padding-left: 0;
}
li{
    list-style-type: none;
    padding: 2% 0;
}
#footer-link li:hover{
    color: #000000;
    font-weight: bolder;
    
}
#footer-link{
   color: #000000; 
   text-decoration: none;
}
.category:hover{
    width: 20%;
}
.jumbotron{
    background-image: url("../images/header-bg.png");
    background-size: cover;
    height: 100%;
}
.faq_style{
    font-family: "body-text"; 
    max-width: 590px; 
    background-color: #50c7b1; 
    border-radius: 10px; 
    padding: 15px; 
    color: white;
    font-size: 12px;
}
#img-title{
    margin: 25px 0 0 50px;
}
@media (max-width: 1024px) {
    #img-title{
        margin: 25px 0 0 30px;
    }
    .jumbotron {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
     }

    #contact_logo{
        max-width: 100%;
        margin: 15% 30% 0 40%;
    }
    #contact_text{
        padding: 100px 0;
    }
    #about{
        padding-top: 15px;
        padding-bottom: 50px;
    }
    #about_logo{
        max-width: 100%;
    }
    #about-head{
        padding-top: 100px;
        padding-left: 25px;
    }
    .about-body{
        padding-right: 100px;
        padding-left: 25px;
    }

}
@media (max-width: 768px) {
    #head{
        margin-top: 40%;
    }
    #head-title{
        font-size: 1.50em;
        margin-left: -20px;
    }
    #img-title{
        margin-left:5px;
    }
    .jumbotron {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
     }

    #contact_logo {
        max-width: 70%;
        margin: 15% 30% 0 25%;
    }
    #contact_text{
        padding: 70px 0 0 0;
    }
    #about{
        padding-top: 15px;
        padding-bottom: 50px;
    }
    #about_logo{
        max-width: 100%;
    }
    #about-head{
        padding-top: 20px;
        padding-right: 20px;
    }
    .about-body{
        padding-right: 20px;
    }

}
@media (max-width: 600px) {
    #head-title{
        font-size: 1.50em;
        margin-left: -20px;
    }
    #img-title{
        margin-left: 5px;
    }
    .jumbotron {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
     }
     #about{
        padding-top: 15px;
        padding-bottom: 50px;
    }
    #about_logo{
        max-width: 100%;
    }
    #about-head{
        text-align: center;
    }
    .about-body{
        text-align: center;
    }

}

@media (max-width: 576px){
    .jumbotron {
        padding: 4rem 0rem;
        background-color: #5adcc2;
    }
    #contact_logo{
        margin: 15% 30% 0 20%;
    }
    #contact_text{
        padding: 25px;
        text-align: center;
        margin-left: 10%;
    }
    #faq_img{
        display: none;
    }
}

@media (max-width: 425px){
    .jumbotron {
        padding: 4rem 0rem;
        background-color: #5adcc2;
    }

}
@media (min-width: 1440px){
    #faq_img{
        width: 75%;
    }
    #contact_logo {
        max-width: 100%;
        margin: 6% 30% 0% 60%;
    }
    #contact_text {
        padding: 5% 10% 5% 2%;
    }
    #about{
        padding-top: 15px;
        padding-bottom: 50px;
    }
    #about_logo{
        max-width: 100%;
        padding-left: 120px;
    }
    #about-head{
        padding-top: 100px;
        padding-left: 50px;
    }
    .about-body{
        padding-right: 300px;
        padding-left: 50px;
    }

}




