html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@font-face {
    font-family: 'head-text';
    src: url(file://C:/Users/Dwane/Dr.WebHealth_SEO/fonts/GothamBold.ttf);
}
.head-text{
    font-family: "head-text";
}
.body-text{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.nav li:hover{
    box-shadow: inset 0px -4px 0 #FFFFFF;
    font-weight: bolder;
}
ul{
    margin: none;
    padding-left: 0;
}
li{
    list-style-type: none;
    padding: 2% 0;
}
#footer-link li:hover{
    color: #000000;
    font-weight: bolder;
    
}
#footer-link{
   color: #000000; 
   text-decoration: none;
}
.category:hover{
    width: 20%;a
}
.jumbotron{
    background-image: url("../images/header-bg.png");
    background-size: cover;
    height: 100%;


}
#img-title{
    margin: 25px 0 0 50px; 
}
@media (max-width: 1024px) {
    #img-title{
        margin: 25px 0 0 30px; 
    }
    .jumbotron {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
     }  
}
@media (max-width: 768px) {
    #head{
        margin-top: 40%;
    }
    #head-title{
        font-size: 1.50em;
        margin-left: -20px;
    }
    #img-title{
        margin-left:5px;
    }
    .jumbotron {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
     }  
}
@media (max-width: 600px) {
    #head-title{
        font-size: 1.50em;
        margin-left: -20px;
    }
    #img-title{
        margin-left: 5px;
    }
    .jumbotron {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
     }  
}

@media (min-width: 576px){}
.jumbotron {
    padding: 4rem 0rem;
    background-color: #5adcc2;
}
